.active a{
  color: white !important;
}

/* img {
  object-fit: contain !important;
} */

#caroulselBasicExample, 
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
}

.carousel-item:nth-child(1) {
  background-image: url(../imgs/outside.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.carousel-item:nth-child(2) {
  background-image: url(../imgs/interior.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.carousel-item:nth-child(3) {
  background-image: url(../imgs/hotel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#caroulselBasicExample {
  margin-top: -66.6px;
}

.navbar {
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: rgba(110, 101, 101, 0.192);
}